/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$FontFamily: "CoreSans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
    background-color: #2B2B22;
    font-size: 18.11px;
    color: #929283;
    font-family: $FontFamily;
    //min-width: 475px;
}

a {
    color: #F55901;
}

#title-block {
    height: 452px;
    padding-top: 125px;
    background-color: #22221A;
    #title {
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
        @media (max-width: 768px) {
            width: 311.5px;
            height: 93.1px;
        }
        background-image: url("/images/title.png");
        width: 445px;
        height: 133px;
        display:block;
        margin: 0 auto;
    }
    #description {
        margin-top: 24px;
        font-size: 24px;
        text-align: center;
        line-height: normal;
    }
}

.block-title {
    font-size: 48px;
    margin-top: 56px;
    text-align: center;
}

#platforms-container {
    margin-top: 24px;
    max-width: 620px;
}

.platform a {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
}

#get-ios {
    @include img-retina("store-ios.png", "store-ios@2x.png", 154px, 44px);
    background-size: contain;
    background-repeat: no-repeat;
    width: 154px;
    height: 44px;
    &.fix-mod {
        @media(min-width: $screen-sm-min) {
            float:right;
        }
    }
}
#get-android {
    @include img-retina("store-android.png", "store-android@2x.png", 128px, 44px);
    background-size: contain;
    background-repeat: no-repeat;
    width: 128px;
    height: 44px;
    &.fix-mod {
        @media(min-width: $screen-sm-min) {
            float:left;
        }
    }
}
#get-mod {
    &:hover {
        color: #F55901;
        text-decoration: underline;
    }
    font-size: 24px;
    padding-top: 8px;
    line-height: normal;
    height: 44px;
}

#footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    a:hover {
        color: #F55901;
        text-decoration: underline;
    }
}
    